<ion-view view-title="修改密码">
    <ion-nav-buttons side="left">
        <i class="icon icon ion-ios-arrow-left goBacks_home" on-touch="changePasswordCtrl.goBack()"></i>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <i class="icon rightHomeIcon" on-touch="changePasswordCtrl.goHomePage()"></i>
    </ion-nav-buttons>

    <ion-content ng-init="changePasswordCtrl.init()" style="background-color: #ffffff;">
        <div class="container">
            <div class="changePassList">
                <div class="fl registerPass"></div>
                <input type="password" placeholder="请输入原始密码" class="fl"/>
            </div>
            <div class="changePassList">
                <div class="fl registerPassL"></div>
                <input type="password" placeholder="请输入新密码" class="fl"/>
            </div>
            <div class="changePassList">
                <div class="fl registerPassL"></div>
                <input type="password" placeholder="请再输入一遍" class="fl"/>
            </div>

            <a href="" class="btn btn-danger btn-block btn-lg" on-touch="" style="margin-top: 5rem;">确定</a>
        </div>
    </ion-content>
</ion-view>