<ion-view view-title={{initPrdCtrl.initPrdTitle}} hide-back-button="false" ng-init="initPrdCtrl.init()">
    <ion-nav-buttons side="left">
        <i class="icon icon ion-ios-arrow-left goBacks_home" on-touch="initPrdCtrl.goBack()"></i>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <i class="icon rightHomeIcon" on-touch="initPrdCtrl.goHomePage()"></i>
    </ion-nav-buttons>

    <div>
        <div style="height: 100%;margin-top: -43px;">
            <iframe style="width: 100%;height: 100%;-webkit-overflow-scrolling:touch;overflow-y:scroll;" src="http://msbcdsit.ecpic.com.cn/mobilemsb/product/initPrd?mId=175320&vCode=345417"></iframe>
        </div>
    </div>
</ion-view>