<ion-view view-title="添加一级">
    <ion-nav-buttons side="left">
        <i class="icon icon ion-ios-arrow-left goBacks_home" on-touch="inOutConnectAddCtrl.goBack()"></i>
    </ion-nav-buttons>

    <ion-content ng-init="inOutConnectAddCtrl.init()">
        <!--<div class="list listNoBorder">-->
        <!--<div class="item item-input" style="border-top: 1px solid #f5f5f5;margin: -1px 16px;padding-left: 0;">-->
        <!--<span class="input-label">团队名称</span>-->
        <!--<input type="text" placeholder="请输入团队名称" class="inputTextRight">-->
        <!--</div>-->
        <!--</div>-->

        <div class="list listNoBorder">
            <div class="item item-title" style="margin: -1px 16px;padding: 16px 0;">添加一级</div>
            <div class="item" style="border-top: 1px solid #f5f5f5;margin: -1px 16px;padding: 13px 12px;padding-left: 0;">银行代码
                <span class="item-note" style="padding-right: 20px;">2022015</span>
            </div>
            <div class="item item-input" style="margin: -1px 16px;padding-left: 0;">
                <span class="input-label">银行名称</span>
                <input type="text" placeholder="请输入银行名称" class="inputTextRight" style="padding-right: 20px;">
            </div>
            <div class="item item-input" style="margin: -1px 16px;padding-left: 0;">
                <span class="input-label">组织机构代码</span>
                <input type="text" placeholder="请输入组织机构代码" class="inputTextRight" style="padding-right: 20px;">
            </div>
            <div class="item item-input" style="margin: -1px 16px;padding-left: 0;">
                <span class="input-label">邮政编码</span>
                <input type="text" placeholder="请输入邮政编码" class="inputTextRight" style="padding-right: 20px;">
            </div>
            <div class="item item-input" style="margin: -1px 16px;padding-left: 0;">
                <span class="input-label">联系人</span>
                <input type="text" placeholder="请输入联系人" class="inputTextRight" style="padding-right: 20px;">
            </div>
            <div class="item item-input" style="margin: -1px 16px;padding-left: 0;">
                <span class="input-label">联系手机</span>
                <input type="text" placeholder="请输入联系手机" class="inputTextRight" style="padding-right: 20px;">
            </div>
            <div class="item item-input" style="margin: -1px 16px;padding-left: 0;">
                <span class="input-label">联系电话</span>
                <input type="text" placeholder="请输入联系电话" class="inputTextRight" style="padding-right: 20px;">
            </div>
            <div class="item item-input" style="margin: -1px 16px;padding-left: 0;">
                <span class="input-label">地址</span>
                <input type="text" placeholder="请输入地址" class="inputTextRight" style="padding-right: 20px;">
            </div>
        </div>

        <div class="list listNoBorder">
            <div class="item item-title" style="margin: -1px 16px;padding: 16px 0;">选择所属CPIC业务机构</div>
            <div class="item item-input item-select ionDropNew" style="margin: -1px 16px;padding-left: 0;">
                <span class="input-label">分公司</span>
                <select style="color: #aaaaaa;padding-right: 30px;">
                    <option selected>请选择</option>
                </select>
            </div>
            <div class="item item-input item-select ionDropNew" style="margin: -1px 16px;padding-left: 0;">
                <span class="input-label">中支公司</span>
                <select style="color: #aaaaaa;padding-right: 30px;">
                    <option selected>请选择</option>
                </select>
            </div>
            <div class="item item-input item-select ionDropNew" style="margin: -1px 16px;padding-left: 0;">
                <span class="input-label">支公司</span>
                <select style="color: #aaaaaa;padding-right: 30px;">
                    <option selected>请选择</option>
                </select>
            </div>
        </div>

        <div class="list listNoBorder">
            <div class="item item-title" style="margin: -1px 16px;padding: 16px 0;">协议信息</div>
            <div class="item item-input item-select ionDropNew" style="margin: -1px 16px;padding-left: 0;">
                <span class="input-label">合作类型</span>
                <select style="color: #aaaaaa;padding-right: 30px;">
                    <option selected>请选择</option>
                </select>
            </div>
            <div class="item item-input" style="margin: -1px 16px;padding-left: 0;">
                <span class="input-label">协议号</span>
                <input type="text" placeholder="请输入协议号" class="inputTextRight" style="padding-right: 20px;">
            </div>
            <div class="item item-input" style="margin: -1px 16px;padding-left: 0;">
                <span class="input-label">合作时间起</span>
                <input type="text" class="inputTextRight" mobiscroll-date="finishedDate" mobiscroll-options="{theme : 'android-holo-light',mode : 'scroller',lang:'zh',minWidth:minWidth,preset:'date',dateOrder:'yymmdd',endYear:2500}" placeholder="请选择时间">
            </div>
            <div class="item item-input" style="margin: -1px 16px;padding-left: 0;">
                <span class="input-label">合作时间止</span>
                <input type="text" class="inputTextRight" mobiscroll-date="finishedDate" mobiscroll-options="{theme : 'android-holo-light',mode : 'scroller',lang:'zh',minWidth:minWidth,preset:'date',dateOrder:'yymmdd',endYear:2500}" placeholder="请选择时间">
            </div>
        </div>
    </ion-content>

    <ion-footer-bar style="padding: 0;height: 50px;background-color: #f6f6f6;">
        <a href="" style="margin: 0 15px;background-color: #e83344;color: #FFFFFF;"
           class="btn btn-danger btn-block btn-lg" on-touch="inOutConnectAddCtrl.goBack()">提交</a>
    </ion-footer-bar>
</ion-view>