<ion-view view-title="接收团队" hide-back-button="false">
    <ion-nav-buttons side="left">
        <i class="icon icon ion-ios-arrow-left goBacks_home" on-touch="receivingTeamCtrl.goBack()"></i>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <i class="icon rightHomeIcon" on-touch="receivingTeamCtrl.goHomePage()"></i>
    </ion-nav-buttons>

    <ion-content ng-init="receivingTeamCtrl.init()">
        <div class="list listNoBorder" style="margin-bottom: 20px;">
            <div class="item item-icon-right" style="margin: -1px 16px;padding: 5px 0 5px 0;"
                 on-touch="receivingTeamCtrl.goRecipient()">
                <span class="input-label">已选择</span>
                <!--<i class="icon ionChRight1" style="top: -10px;"></i>-->
            </div>
            <div class="item item-icon-right" style="margin: -1px 16px;padding: 5px 0 5px 0;">
                <span class="option_left orderEvent fl" on-touch=""
                      style="margin-right: 20px;margin-top: 10px;">
							<!--<span class="radiocheck" ng-show="!r.choose"></span>-->
                            <span class="radiochecked"></span>
						</span>
                <span class="input-label">张三</span>
            </div>
            <div class="item item-icon-right" style="margin: -1px 16px;padding: 5px 0 5px 0;">
                <span class="option_left orderEvent fl" on-touch=""
                      style="margin-right: 20px;margin-top: 10px;">
							<!--<span class="radiocheck" ng-show="!r.choose"></span>-->
                            <span class="radiochecked"></span>
						</span>
                <span class="input-label">张三</span>
            </div>
            <div class="item item-icon-right" style="margin: -1px 16px;padding: 5px 0 5px 0;">
                <span class="option_left orderEvent fl" on-touch=""
                      style="margin-right: 20px;margin-top: 10px;">
							<!--<span class="radiocheck" ng-show="!r.choose"></span>-->
                            <span class="radiochecked"></span>
						</span>
                <span class="input-label">张三</span>
            </div>
            <div class="item item-icon-right" style="margin: -1px 16px;padding: 5px 0 5px 0;">
                <span class="option_left orderEvent fl" on-touch=""
                      style="margin-right: 20px;margin-top: 10px;">
							<!--<span class="radiocheck" ng-show="!r.choose"></span>-->
                            <span class="radiochecked"></span>
						</span>
                <span class="input-label">张三</span>
            </div>
        </div>

        <div class="list listNoBorder">
            <div class="item item-icon-right" style="margin: -1px 16px;padding: 5px 0 5px 0;"
                 on-touch="receivingTeamCtrl.goRecipient()">
                <span class="input-label">中国银行浦东支行事业一部</span>
                <i class="icon ionChRight1" style="top: -10px;"></i>
            </div>
            <div class="item item-icon-right" style="margin: -1px 16px;padding: 5px 0 5px 0;"
                 on-touch="receivingTeamCtrl.goRecipient()">
                <span class="input-label">中国银行浦东支行事业二部</span>
                <i class="icon ionChRight1" style="top: -10px;"></i>
            </div>
            <div class="item item-icon-right" style="margin: -1px 16px;padding: 5px 0 5px 0;"
                 on-touch="receivingTeamCtrl.goRecipient()">
                <span class="input-label">中国银行浦东支行事业三部</span>
                <i class="icon ionChRight1" style="top: -10px;"></i>
            </div>
            <div class="item item-icon-right" style="margin: -1px 16px;padding: 5px 0 5px 0;"
                 on-touch="receivingTeamCtrl.goRecipient()">
                <span class="input-label">中国银行浦东支行事业四部</span>
                <i class="icon ionChRight1" style="top: -10px;"></i>
            </div>
            <div class="item item-icon-right" style="margin: -1px 16px;padding: 5px 0 5px 0;"
                 on-touch="receivingTeamCtrl.goRecipient()">
                <span class="input-label">中国银行浦东支行事业五部</span>
                <i class="icon ionChRight1" style="top: -10px;"></i>
            </div>
        </div>
    </ion-content>
</ion-view>